<template name="Header">
  <div class="navbar-fixed">
    <nav>
      <div class="container">
        <a href = "/" class="brand-logo">clas.si</a>
        <a href="#" data-activates="side" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/tasks" title="Tasks"><i class="fa fa-list"></i></a></li>
          <li><a href="/classes" title="Classes"><i class="fa fa-book"></i></a></li>
          <li><a href="/settings" title="Settings"><i class="fa fa-gear"></i></a></li>
          <li> <a href="/about" title="About"><i class="fa fa-asterisk"></i></a></li>
          <li><a href="/logout" title="Logout" class="logout"><i class="fa fa-sign-out"></i></a></li>
        </ul>
        <ul class="side-nav" id="side">
          <li><a href="/tasks">Tasks</a></li>
          <li><a href="/classes">Classes</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</template>
